/* replicate jupyter button behavior */
.link-button:hover,
.link-button:focus {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, var(--md-shadow-key-penumbra-opacity)),
    0 3px 1px -2px rgba(0, 0, 0, var(--md-shadow-key-umbra-opacity)),
    0 1px 5px 0 rgba(0, 0, 0, var(--md-shadow-ambient-shadow-opacity));
}

.link-button {
  margin: 2px;
  padding: 0;
  width: fit-content;
  color: white;
  background-color: var(--color-primary);
}

.link-button a {
  display: block;
  padding: 0 10px;
  box-sizing: border-box;
}

.link-button a,
.link-button a:hover,
.link-button a:focus {
  color: inherit;
  text-decoration: none;
}

.link-button[aria-disabled="true"] {
  cursor: unset;
  pointer-events: none;
  opacity: var(--jp-widgets-disabled-opacity);
}
