[submodule "aiidalab-widgets-base"]
	path = external/aiidalab-widgets-base
	url = git@github.com:aiidalab/aiidalab-widgets-base.git

[submodule "aiidalab-optimade"]
	path = external/aiidalab-optimade
	url = git@github.com:aiidalab/aiidalab-optimade.git
[submodule "external/optimade-python-tools"]
	path = external/optimade-python-tools
	url = git@github.com:Materials-Consortia/optimade-python-tools.git
