*.egg-info
*.pyc
*.tar.gz
*.code-workspace
.*.ipynb
.ipynb*

# Numbered copies created when AiiDAlab reopens running notebooks
*-[0-9]*.ipynb
build/
export/
.do-not-setup-on-localhost
.mypy_cache/

# Sphinx documentation
docs/html
screenshots/
