.summary-list table {
  width: 100%;
  border: none;
}

.summary-list .section .entry {
  background-color: #fff;
  line-height: 1.5;
}

.summary-list .section .entry .key {
  font-weight: bold;
  margin-right: 5px;
}

.summary-list .section .entry .key::after {
  content: ":";
}

.summary-list .section .entry .key,
.summary-list .section .entry .value {
  padding: 0;
  display: inline-block;
  width: fit-content;
}
