<head>
  <style>
    {{ style }}
  </style>
</head>

<body>

<div style="padding-top: 0px; padding-bottom: 0px; line-height: 140%;">
  <h3>Welcome to the AiiDAlab Quantum ESPRESSO app! 👋</h3>

  The <a href="https://www.quantum-espresso.org/" target="_blank">Quantum ESPRESSO</a> app (or QEapp for short) is a graphical interface for calculating material properties based on density-functional theory (DFT).
  Each of the properties is calculated by workflows powered by the <a href="https://www.aiida.net/" target="_bland"> AiiDA engine</a>, and maintained in the <a href="https://aiida-quantumespresso.readthedocs.io/en/latest/" target="_blank"> Quantum ESPRESSO plugin</a> for AiiDA.

  <p style="padding-top: 10px; padding-bottom: 10px;">The QEapp allows you to calculate material properties in a simple 3-step process:</p>

  <ol style="list-style-type:none">
    <li style="padding-top: 2px; padding-bottom: 2px;">🔍 <b>Step 1:</b> Select the structure you want to run.</li>
    <li style="padding-top: 2px; padding-bottom: 2px;">⚙️ <b>Step 2:</b> Select the properties you are interested in.</li> 
    <li style="padding-top: 2px; padding-bottom: 2px;">🚀 <b>Step 3:</b> Submit your workflow!</li> 
  </ol>

  <p style="padding-top: 5px; padding-bottom: 5px;">New users can go straight to the first step and select their structure. Once you've already calculated some properties, you can select the corresponding workflow using the dropdown below.</p>
  <p style="padding-top: 5px; padding-bottom: 5px;"><em>Happy computing! 🎉</em></p>
</div>

</body>
