docker
requests
pre-commit
pytest
# dependencies
pytest-docker

# test dependencies same runner docker-stack
doit
dunamai
pyyaml<=5.3.1

# test dependencies same runner qe
pytest-selenium
pytest-html<4.0
selenium~=4.11.2
webdriver-manager
