.simplified-view {
  flex-direction: row;
}

.simplified-view > div:first-child {
  width: 50%;
}

.simplified-view > div:last-child {
  width: 70%;
}

@media (max-width: 1199px) {
  .simplified-view {
    flex-direction: column;
  }

  .simplified-view > div:first-child,
  .simplified-view > div:last-child {
    width: 100%;
  }
}

.simplified-view .widget-button {
  min-height: 28px;
}

.filename-display {
  min-height: 32px;
}

/* Process tree */

.rolling-output {
  flex: 1;
  min-height: 300px;
}

.rolling-output .widget-html .widget-html-content {
  position: absolute !important;
  width: 100%;
}

.rolling-output .widget-html .widget-html-content pre {
  position: relative !important;
}

.simplified-process-tree {
  height: 100%;
}

.simplified-process-tree .tree-node-header {
  align-items: center;
  padding-left: 12px;
}

.simplified-process-tree .widget-html-content {
  line-height: 1.5;
}

.simplified-process-tree .tree-node-toggle:focus:enabled,
.simplified-process-tree .tree-node-toggle:hover:enabled,
.simplified-process-tree .tree-node-toggle:active:enabled,
.simplified-process-tree .calculation-link:focus:enabled,
.simplified-process-tree .calculation-link:hover:enabled,
.simplified-process-tree .calculation-link:active:enabled {
  cursor: pointer;
  color: var(--color-info);
  outline: none;
  box-shadow: none;
  background-color: white;
  transition: color 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
}

.simplified-process-tree .tree-node-toggle,
.simplified-process-tree .calculation-link {
  width: fit-content;
  line-height: 1.5;
  padding: 0;
  background: white;
}

.simplified-process-tree .tree-node-toggle {
  margin: 0 6px 0 -16px;
}

.simplified-process-tree .tree-node-toggle:hover:enabled,
.simplified-process-tree .tree-node-toggle:active:enabled,
.simplified-process-tree .tree-node-toggle:focus:hover:enabled {
  color: var(--color-info-dark);
}

.simplified-process-tree .tree-node-toggle:focus:enabled {
  color: inherit;
}

.simplified-process-tree .calculation-link {
  color: var(--color-link);
  margin: 0 2px;
}

.simplified-process-tree .calculation-link:hover:enabled,
.simplified-process-tree .calculation-link:active:enabled,
.simplified-process-tree .calculation-link:focus:hover:enabled {
  color: var(--color-info-dark);
}

.simplified-process-tree .calculation-link:active:enabled {
  background-color: var(--color-init);
}

.simplified-process-tree .tree-node-branches {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.simplified-process-tree .tree-node-branches.open {
  height: auto;
  visibility: visible;
}
