<div class="about">
  <p>
    The <a href="https://www.quantum-espresso.org/" target="_blank">Quantum ESPRESSO</a> app
    (or QE app for short) is a graphical front end for calculating materials properties using
    Quantum ESPRESSO (QE). Each property is calculated by workflows powered by the
    <a href="https://www.aiida.net/" target="_bland"> AiiDA engine</a>, and maintained in the
    <a href="https://aiida-quantumespresso.readthedocs.io/en/latest/" target="_blank">Quantum ESPRESSO plugin</a>
    for AiiDA.
  </p>

  <p style="padding-top: 10px; padding-bottom: 10px;">
    The QE app allows you to calculate properties in a simple 4-step process:
  </p>

  <ol style="list-style-type:none">
    <li style="padding-top: 2px; padding-bottom: 2px;">
      🔍 <strong>Step 1:</strong> Select the structure you want to run.
    </li>
    <li style="padding-top: 2px; padding-bottom: 2px;">
      ⚙️ <strong>Step 2:</strong> Select the properties you are interested in.
    </li>
    <li style="padding-top: 2px; padding-bottom: 2px;">
      💻 <strong>Step 3:</strong> Choose the computational resources you want to run on.
    </li>
    <li style="padding-top: 2px; padding-bottom: 2px;">
      🚀 <strong>Step 4:</strong> Submit your workflow.
    </li>
  </ol>

  <p style="padding-top: 5px; padding-bottom: 5px;">
    New users can go straight to the first step and select their structure. Once you've already
    run some calculations, you can select the corresponding workflow using the dropdown below.
  </p>
</div>
