<div class="guide">
  <p>
    <a href="https://aiidalab-qe.readthedocs.io/tutorials/basic.html" target="_blank">Basic</a> and
    <a href="https://aiidalab-qe.readthedocs.io/tutorials/advanced.html" target="_blank">Advanced</a>
    tutorials are available in the online documentation to help you get started with the Quantum ESPRESSO app.
    For a more in-depth dive into the app's features, please refer to the
    <a href="https://aiidalab-qe.readthedocs.io/howto/index.html" target="_blank">How-to Guides</a>.
  </p>

  <p>
    Alternatively, you can check the box below to turn on an in-app tutorial of an example use-case.
  </p>
</div>
