<div class="guide">
  <p>
    We provide here tutorials in the form of in-app guides to walk you through example use cases.
    <br>
    To activate a guide, select a category below, then select the specific guide you wish to activate.
  </p>
</div>
