<body>

  <div class="summary-table" id="workflow-properties">
    <h2>Workflow properties</h2>
    <table>
      <tr>
        <td>PK</td>
        <td>{{ pk }}</td>
      </tr>
      <tr>
        <td>UUID</td>
        <td>{{ uuid }}</td>
      </tr>
      <tr>
        <td>Label</td>
        <td>{{ label }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ description }}</td>
      </tr>
      <tr>
        <td>Creation time</td>
        <td>{{ creation_time }} ({{ creation_time_relative }})</td>
      </tr>
      <tr>
        <td>Modification time</td>
        <td>{{ modification_time }} ({{ modification_time_relative }})</td>
      </tr>
    </table>
  </div>
  <div class="summary-table" id="structure-properties">
    <h2>Structure properties</h2>
    <table>
      <tr>
        <td>Structure PK</td>
        <td>{{ structure_pk }}</td>
      </tr>
      <tr>
        <td>Chemical formula</td>
        <td>{{ formula }}</td>
      </tr>
      <tr>
        <td>Number of atoms</td>
        <td>{{ num_atoms }}</td>
      </tr>
      <tr>
        <td>Space group</td>
        <td>{{ space_group }}</td>
      </tr>
      <tr>
        <td>Cell lengths in Å</td>
        <td>{{ cell_lengths }}</td>
      </tr>
      <tr>
        <td>Cell angles in °</td>
        <td>{{ cell_angles }}</td>
      </tr>
    </table>
  </div>
  <div class="summary-table" id="basic-settings">
    <h2>Basic settings</h2>
    <table>
      <tr>
        <td>Structure geometry optimization</td>
        <td>{{ relaxed | fmt_yes_no }}</td>
      </tr>
      {% if relaxed %}
      <tr>
        <td>Optimization method</td>
        <td>{{ relax_method }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>Protocol</td>
        <td>{{ protocol }}</td>
      </tr>
      <tr>
        <td>Magnetism</td>
        <td>{{ material_magnetic }}</td>
      </tr>
      <tr>
        <td>Electronic type</td>
        <td>{{ electronic_type }}</td>
      </tr>
      <tr>
        <td>Periodicity</td>
        <td>{{ periodicity }}</td>
      </tr>
    </table>
  </div>
  <div class="summary-table" id="advanced-settings">
    <h2>Advanced settings</h2>
    <table>
      <tr>
        <td>Functional</td>
        <td>
          <a href="{{ functional_link }}" target="_blank">
            {{ functional }}
          </a>
        </td>
      </tr>
      <tr>
        <td>Pseudopotential library</td>
        <td>
          <a href="{{ pseudo_link }}" target="_blank">
            {{ pseudo_library }} {{ pseudo_protocol }} v{{ pseudo_version }}
          </a>
        </td>
      </tr>
      <tr>
        <td>Energy cutoff (wave functions)</td>
        <td>{{ energy_cutoff_wfc }} Ry</td>
      </tr>
      <tr>
        <td>Energy cutoff (charge density)</td>
        <td>{{ energy_cutoff_rho }} Ry</td>
      </tr>
      <tr>
        <td>Occupation type (SCF)</td>
        <td>{{ occupation_type }}</td>
      </tr>
      {% if occupation_type == "smearing" %}
      <tr>
        <td>Smearing width (degauss)</td>
        <td>{{ degauss }} Ry</td>
      </tr>
      <tr>
        <td>Smearing type</td>
        <td>{{ smearing }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>K-point mesh distance (SCF)</td>
        <td>{{ scf_kpoints_distance }} &#8491;<sup>-1</sup></td>
      </tr>
      {% if bands_computed %}
      <tr>
        <td>K-point line distance (Bands)</td>
        <td>{{ bands_kpoints_distance }} &#8491;<sup>-1</sup></td>
      </tr>
      {% endif %}
      {% if pdos_computed %}
      <tr>
        <td>K-point mesh distance (NSCF)</td>
        <td>{{ nscf_kpoints_distance }} &#8491;<sup>-1</sup></td>
      </tr>
      {% endif %}
      <tr>
        <td>Total charge</td>
        <td>{{ tot_charge }}</td>
      </tr>
      <tr>
        <td>Van der Waals correction</td>
        <td>{{ vdw_corr }}</td>
      </tr>
      {% if material_magnetic == "collinear" %}
      {% if tot_magnetization %}
      <tr>
        <td>Total magnetization</td>
        <td>{{ tot_magnetization }} </td>
      </tr>
      {% else %}
      <tr>
        <td>Initial magnetic moments</td>
        <td>{{ initial_magnetic_moments }}</td>
      </tr>
      {% endif %}
      {% endif %}
      {% if hubbard_u %}
      <tr>
        <td>DFT+U</td>
        <td>{{ hubbard_u }}</td>
      </tr>
      {% endif %}
      {% if spin_orbit %}
      <tr>
        <td>Spin-orbit coupling</td>
        <td>{{ spin_orbit }}</td>
      </tr>
      {% endif %}
    </table>
  </div>

</body>
