---
# Run basic tests for this app

name: continuous-integration

on: [push, pull_request]

# https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
    # only cancel in-progress jobs or runs for the current workflow - matches against branch & tags
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:

    pre-commit:

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.10'
                  cache: pip
                  cache-dependency-path: |
                      .pre-commit-config.yaml
                      **/setup.cfg
                      **/pyproject.toml
                      **/requirements*.txt

            - uses: pre-commit/action@v3.0.0


    test-package:

        needs: [pre-commit]

        strategy:
            matrix:
                tag: [latest]
                python-version: ['3.8', '3.9', '3.10']
            fail-fast: false

        runs-on: ubuntu-latest
        timeout-minutes: 30

        services:
            rabbitmq:
                image: rabbitmq:latest
                ports:
                    - 5672:5672

        steps:

            - name: Check out app
              uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}
                  cache: pip
                  cache-dependency-path: |
                      **/setup.cfg
                      **/pyproject.toml
                      **/requirements*.txt
            - name: Install package
              run: pip install -e .[dev]

            - name: Run pytest
              run: pytest -v tests --cov
              env:
                  TAG: ${{ matrix.tag }}

            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v3
              with:
                  flags: python-${{ matrix.python-version }}
