---
# Run basic tests for this app

name: CI

on: [push, pull_request]

# https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
    # only cancel in-progress jobs or runs for the current workflow - matches against branch & tags
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    FORCE_COLOR: 1

jobs:

    test-package:

        strategy:
            matrix:
                python-version: ['3.9', '3.10']
                aiida-core-version: [2.4, 2.5]
            fail-fast: false

        runs-on: ubuntu-latest
        timeout-minutes: 30

        services:
            rabbitmq:
                image: rabbitmq:latest
                ports:
                    - 5672:5672

        steps:

            - name: Check out app
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install uv
              run: curl --proto '=https' --tlsv1.2 -LsSf https://github.com/astral-sh/uv/releases/download/0.2.13/uv-installer.sh | sh

            - name: Install package
              run: uv pip install --system -e .[dev] aiida-core==${{ matrix.aiida-core-version }}

            - name: Run pytest
              run: pytest -v tests ${{ matrix.aiida-core-version == '2.3' && '--cov=aiidalab_qe' || '' }}

            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v4
              with:
                  flags: python-${{ matrix.python-version }}
                  token: ${{ secrets.CODECOV_TOKEN }}
